## Visual Studio
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates

## .NET
[Tt]est[Rr]esults/
nupkg/
*.nupkg

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Rider
.idea/
*.sln.iml

## VS Code
.vscode/

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## Others
appsettings.Development.json
appsettings.Local.json
